.btn {
  font-family: Monserrat, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  width: 156px;
  padding: 10px;
  border-radius: 13px;
  text-align: left;
  line-height: normal;
  background: #683b2b;
  color: white;
  position: relative;
}
