.header{
    margin-bottom: 175px;
}



.logo{
        top: 8px;
        right: 37%;
        position: absolute;

}

.right{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

